In [1]:
pip install --upgrade gensim

Requirement already satisfied: gensim in c:\users\checkout\anaconda3\lib\site-packages (4.1.2)
Collecting gensim
  Downloading gensim-4.2.0-cp39-cp39-win_amd64.whl (23.9 MB)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\checkout\anaconda3\lib\site-packages (from gensim) (5.2.1)
Requirement already satisfied: scipy>=0.18.1 in c:\users\checkout\anaconda3\lib\site-packages (from gensim) (1.7.1)
Requirement already satisfied: numpy>=1.17.0 in c:\users\checkout\anaconda3\lib\site-packages (from gensim) (1.20.3)
Collecting Cython==0.29.28
  Downloading Cython-0.29.28-py2.py3-none-any.whl (983 kB)
Installing collected packages: Cython, gensim
  Attempting uninstall: Cython
    Found existing installation: Cython 0.29.23
    Uninstalling Cython-0.29.23:
      Successfully uninstalled Cython-0.29.23
  Attempting uninstall: gensim
    Found existing installation: gensim 4.1.2
    Uninstalling gensim-4.1.2:
      Successfully uninstalled gensim-4.1.2
Successfully installed Cython-0.29.28 gensim-4.2.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
# importing required libraries
import pandas as pd
import numpy as np
import re
import string
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from tqdm import tqdm
from sklearn.model_selection import train_test_split
from gensim.models.word2vec import Word2Vec
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import scale
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.feature_extraction.text import CountVectorizer
import re
from sklearn.naive_bayes import MultinomialNB
from nltk.stem import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Checkout\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
# loading data
data = pd.read_csv('Sentiment Analysis Dataset.csv', encoding='latin-1')
data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
data['review']=data['review'].replace(r'<.*?>','',regex=True)
data['review']

0        One of the other reviewers has mentioned that ...
1        A wonderful little production. The filming tec...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [5]:
data['sentiment'].replace('negative',0,inplace=True)
data['sentiment'].replace('positive',1,inplace=True)
data

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...          1
1      A wonderful little production. The filming tec...          1
2      I thought this was a wonderful way to spend ti...          1
3      Basically there's a family where a little boy ...          0
4      Petter Mattei's "Love in the Time of Money" is...          1
...                                                  ...        ...
49995  I thought this movie did a down right good job...          1
49996  Bad plot, bad dialogue, bad acting, idiotic di...          0
49997  I am a Catholic taught in parochial elementary...          0
49998  I'm going to have to disagree with the previou...          0
49999  No one expects the Star Trek movies to be high...          0

[50000 rows x 2 columns]

In [6]:
data['review'].unique

<bound method Series.unique of 0        One of the other reviewers has mentioned that ...
1        A wonderful little production. The filming tec...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object>

In [7]:
data

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...          1
1      A wonderful little production. The filming tec...          1
2      I thought this was a wonderful way to spend ti...          1
3      Basically there's a family where a little boy ...          0
4      Petter Mattei's "Love in the Time of Money" is...          1
...                                                  ...        ...
49995  I thought this movie did a down right good job...          1
49996  Bad plot, bad dialogue, bad acting, idiotic di...          0
49997  I am a Catholic taught in parochial elementary...          0
49998  I'm going to have to disagree with the previou...          0
49999  No one expects the Star Trek movies to be high...          0

[50000 rows x 2 columns]

In [8]:
data['review']=data['review'].str.lower()
print(data['review'][1])

a wonderful little production. the filming technique is very unassuming- very old-time-bbc fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. the actors are extremely well chosen- michael sheen not only "has got all the polari" but he has all the voices down pat too! you can truly see the seamless editing guided by the references to williams' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. a masterful production about one of the great master's of comedy and his life. the realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional 'dream' techniques remains solid then disappears. it plays on our knowledge and our senses, particularly with the scenes concerning orton and halliwell and the sets (particularly of their flat with halliwell's murals decorating every surface) are terribly well done.

In [9]:
#abbr_dict={

In [10]:
#for i in abbr_dict.values():
   # print(i)

In [11]:
data['review']=data['review'].iloc[:5000]

In [12]:
#for (i:y) in abbr_dict:
   #  df=data['review'].replace(i,y)
                        #in (k,v) for (k,v) in abbr_dict

In [13]:
Short_forms=["you're","we're","they're","isn't","aren't","wasn't","weren't","don't","doesn't","didn't","i've","you've","we've","they've","haven't","hasn't","hadn't","i'd","he'd","she'd","it'd","you'd","we'd","they'd","can't","couldn't","mustn't","shan't","shouldn't","i'll","he'll","she'll","it'll","you'll","we'll","they'll","won't","wouldn't","let's","i'm","he's","she's","it's"]
Full_forms=["you are","we are","they are","is not","are not","was not","were not","do not","does not","did not","i have","You have","we have","they have","have not","has not","had not","i had","he had","she had","it had","you had","we had","they had","can not","could not","must not","shall not","should not","i will","he will","she will","it will","you will","we will","they will","will not","would not","let us""i am","he is","she is","it is"]

In [14]:
for i in range(len(Short_forms)-1):
      data['review']=data['review'].replace(Short_forms[i],Full_forms[i])

In [15]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\users\checkout\anaconda3\lib\site-packages (0.8.9)

In [16]:
#Removing stop words
stop_words = set(stopwords.words('english'))
data['pre_processed_review'] = data['review'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop_words)]))

In [17]:
#Removing punctuations
import re as regex
for remove in map(lambda r: regex.compile(regex.escape(r)), ["(",")","'",","]):data["pre_processed_review"].replace(remove, "", inplace=True)

data['pre_processed_review'].head(5)

0    one reviewers mentioned watching 1 oz episode ...
1    wonderful little production. filming technique...
2    thought wonderful way spend time hot summer we...
3    basically theres family little boy jake thinks...
4    petter matteis "love time money" visually stun...
Name: pre_processed_review, dtype: object

In [18]:
stemmer = PorterStemmer()
data['pre_processed_review']=data['pre_processed_review'].apply(lambda x : ' ' .join([stemmer.stem(word) for word in x.split()]))

In [19]:
print(data['pre_processed_review'][0])

one review mention watch 1 oz episod hooked. right exactli happen me.th first thing struck oz brutal unflinch scene violenc set right word go. trust me show faint heart timid. show pull punch regard drug sex violence. hardcor classic use word.it call oz nicknam given oswald maximum secur state penitentary. focus mainli emerald citi experiment section prison cell glass front face inward privaci high agenda. em citi home many..aryan muslim gangsta latino christian italian irish more....so scuffl death stare dodgi deal shadi agreement never far away.i would say main appeal show due fact goe show dare. forget pretti pictur paint mainstream audienc forget charm forget romance...oz mess around. first episod ever saw struck nasti surreal say readi it watch more develop tast oz got accustom high level graphic violence. violenc injustic crook guard wholl sold nickel inmat wholl kill order get away it well manner middl class inmat turn prison bitch due lack street skill prison experi watch oz may becom comfort uncomfort viewing....that get touch darker side.

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

x = np.array(data['pre_processed_review'].values)
y = np.array(data['sentiment'].values)

cv = CountVectorizer(max_features = 5000)
X = cv.fit_transform(data['pre_processed_review']).toarray()

print("X.shape = ",X.shape)
print("y.shape = ",y.shape)

X.shape =  (50000, 5000)
y.shape =  (50000,)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=35)
print('x_train_dataset=',X_train.shape)
print('y_train_dataset=',y_train.shape)
print('x_test_dataset=',X_test.shape)
print('y_test_dataset=',X_train.shape)

x_train_dataset= (40000, 5000)
y_train_dataset= (40000,)
x_test_dataset= (10000, 5000)
y_test_dataset= (40000, 5000)

In [22]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix

GNB=GaussianNB()

GNB.fit(X_train,y_train)

GaussianNB()

In [25]:
Y_train_pred_GNB = GNB.predict(X_train)
Y_test_pred_GNB = GNB.predict(X_test)

In [27]:
accuracy_score(y_train,Y_train_pred_GNB)

0.536225

In [28]:
print(classification_report(y_train,Y_train_pred_GNB))

              precision    recall  f1-score   support

           0       0.52      0.99      0.68     19950
           1       0.90      0.08      0.15     20050

    accuracy                           0.54     40000
   macro avg       0.71      0.54      0.42     40000
weighted avg       0.71      0.54      0.42     40000

In [30]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='liblinear', random_state=0)

In [31]:
model.fit(X_train,y_train)

LogisticRegression(random_state=0, solver='liblinear')

In [32]:
Y_train_pred = model.predict(X_train)
Y_test_pred = model.predict(X_test)

In [33]:
print(classification_report(y_train,Y_train_pred))

              precision    recall  f1-score   support

           0       1.00      0.10      0.18     19950
           1       0.53      1.00      0.69     20050

    accuracy                           0.55     40000
   macro avg       0.76      0.55      0.44     40000
weighted avg       0.76      0.55      0.44     40000